body {
  background: #fefefe;
}
.box {
  background: #eee;
  height: 550px;
}

.add-post-button {
  background: url("http://icons.iconarchive.com/icons/graphicloads/100-flat/256/addition-icon.png");
  background-size: contain;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 5%;
  right: 5%;

}
@keyframes move-button {
  0%{
    opacity: 0;
    top:0px;
  }
}
